<body>

    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Thông Báo</h4>
                        <h6>Xem tất cả thông báo</h6>
                    </div>
                </div>

                <div class="activity">
                    <div class="activity-box">
                        <ul class="activity-list">
                            <li>
                                <div class="activity-user">
                                    <a href="profile.html" title="" data-toggle="tooltip"
                                        data-original-title="Lesley Grauer">
                                        <img alt="Lesley Grauer" src="/public/img/profiles/52100815.jpg"
                                            class=" img-fluid">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <div class="timeline-content">
                                        <a href="profile.html" class="noti-title">Huỳnh Nhật Linh</a>
                                        vừa làm xong 50% bài báo cáo cuối kì
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="activity-user">
                                    <a href="profile.html" title="" data-toggle="tooltip"
                                        data-original-title="Lesley Grauer">
                                        <img alt="Lesley Grauer" src="/public/img/profiles/avatarPH.jpg"
                                            class=" img-fluid">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <div class="timeline-content">
                                        <a href="profile.html" class="noti-title">Đinh Hoàng Phúc</a>
                                        vừa đăng tải code giao diện trang web
                                        <span class="time">6 mins ago</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="activity-user">
                                    <a href="profile.html" title="" data-toggle="tooltip"
                                        data-original-title="Lesley Grauer">
                                        <img alt="Lesley Grauer" src="/public/img/profiles/52100137.jpg"
                                            class=" img-fluid">
                                    </a>
                                </div>
                                <div class="activity-content">
                                    <div class="timeline-content">
                                        <div class="timeline-content">
                                            <a href="profile.html" class="noti-title">Đoàn Thái Tú</a>
                                            vừa tham gia vào nhóm Phát Triển Hệ Thống Thông Tin Doanh Nghiệp
                                            <span class="time">12 mins ago</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>