<body>

    <div class="main-wrapper">

        <div class="page-wrapper">

            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Thêm Loại Sản Phẩm</h4>
                        <h6>Thêm loại sản phẩm</h6>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group"><label for="ten_loai_hang" class="form-label">Tên loại
                                        sản phẩm</label>
                                    <input type="text" class="form-control" id="nameCategory" placeholder="" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Mô tả</label>
                                    <textarea class="form-control" id="desCategory" required></textarea>
                                </div>
                            </div>

                            <div class="gap-col">
                                <ul class="d-flex align-items-center">
                                    <li><button type="submit" id="SubmitCateogry" class="btn btn-primary">Lưu</button></li>
                                    <li><a href="/categories" class="btn border m-lg-2">Thoát</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</body>