<body>
    
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Customer Report</h4>
                        <h6>Manage your Customer Report</h6>
                    </div>
                </div>

                <div class="card">
                    <table class="datatable-init table">

                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">Mã hàng</th>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">Giá</th>
                                <th class="tb-col">Đơn vị</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>CT_1001</td>
                                <td>Thomas21</td>
                                <td>1500.00</td>
                                <td>1500.00</td>
                            </tr>
                            <tr>
                                <td>CT_1002</td>
                                <td>504Benjamin</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>CT_1003</td>
                                <td>James 524</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>CT_1004</td>
                                <td>Bruklin2022</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>CT_1005</td>
                                <td>BeverlyWIN25</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>
                            <tr>
                                <td>CT_1006</td>
                                <td>BHR256</td>
                                <td>100.00</td>
                                <td>100.00</td>
                            </tr>
                            <tr>
                                <td>CT_1007</td>
                                <td>Alwin243</td>
                                <td>5.00</td>
                                <td>5.00</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>

</body>