<body>

    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Expenses Category </h4>
                        <h6>Manage your purchases</h6>
                    </div>
                    <div class="page-btn">
                        <a href="createexpense.html" class="btn btn-added"><img src="/public/img/icons/plus.svg"
                                alt="img">Add EXPENSES CATEGORY</a>
                    </div>
                </div>

                <div class="card">
                    <table class="datatable-init table">

                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">Giá</th>
                                <th class="tb-col">Đơn vị</th>
                                <th class="tb-col">Loại hàng</th>
                                <th class="tb-col">Hành động</th>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td>Employee Benefits</td>
                                <td>PT001</td>
                                <td>120</td>
                                <td>Employee Vehicle</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Employee Benefits</td>
                                <td>PT005</td>
                                <td>250</td>
                                <td>Employee Vehicle</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Foods & Snacks</td>
                                <td>PT006</td>
                                <td>250</td>
                                <td>Employee Foods</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Entertainment</td>
                                <td>PT007</td>
                                <td>120</td>
                                <td>Office Vehicle</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Office Expenses & Postage </td>
                                <td>PT008</td>
                                <td>320</td>
                                <td>Employee Foods</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Employee Benefits</td>
                                <td>PT009</td>
                                <td>120</td>
                                <td>Employee Vehicle</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>Foods & Snacks</td>
                                <td>PT010</td>
                                <td>250</td>
                                <td>Employee Foods</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Entertainment</td>
                                <td>PT011</td>
                                <td>120</td>
                                <td>Office Vehicle</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Office Expenses & Postage </td>
                                <td>PT012</td>
                                <td>320</td>
                                <td>Employee Foods</td>
                                <td>
                                    <a class="me-3" href="editexpense.html">
                                        <img src="/public/img/icons/edit.svg" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text" href="javascript:void(0);">
                                        <img src="/public/img/icons/delete.svg" alt="img">
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>

</body>