<body>
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Invoice Report</h4>
                        <h6>Manage your Invoice Report</h6>
                    </div>
                </div>
                
                <div class="card">
                    <table class="datatable-init table">

                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">Mã hàng</th>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">Giá</th>
                                <th class="tb-col">Đơn vị</th>
                                <th class="tb-col">Loại hàng</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>INV001</td>
                                <td>Thomas21</td>
                                <td>29-03-2022</td>
                                <td>1500.00</td>
                                <td>1500.00</td>
                            </tr>
                            <tr>
                                <td>INV002</td>
                                <td>504Benjamin</td>
                                <td>29-03-2022</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>INV003</td>
                                <td>James 524</td>
                                <td>29-03-2022</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                </td>
                                <td>INV004</td>
                                <td>Bruklin2022</td>
                                <td>29-03-2022</td>
                                <td>10.00</td>
                                <td>10.00</td>
                            </tr>
                            <tr>
                                <td>INV005</td>
                                <td>BeverlyWIN25</td>
                                <td>29-03-2022</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>
                            <tr>
                                <td>INV006</td>
                                <td>BHR256</td>
                                <td>29-03-2022</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>
                            <tr>
                                <td>INV007</td>
                                <td>BHR256</td>
                                <td>29-03-2022</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>
                            <tr>
                                <td>INV008</td>
                                <td>BHR256</td>
                                <td>29-03-2022</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>
                            <tr>
                                <td>INV009</td>
                                <td>BHR256</td>
                                <td>29-03-2022</td>
                                <td>150.00</td>
                                <td>150.00</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>
    
</body>