<body>
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Chi Tiết Xuất Kho</h4>
                        <h6>Chi tiết xuất kho</h6>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        <div class="productdetails">

                            <ul class="product-bar">
                                <li>
                                    <h4>Mã phiếu xuất</h4>
                                    <h6>PX0001</h6>
                                </li>
                                <li>
                                    <h4>Ngày xuất kho</h4>
                                    <h6>07/11/2023</h6>
                                </li>
                                <li>
                                    <h4>Mô tả</h4>
                                    <h6>oke</h6>
                                </li>
                            </ul>

                        </div>

                    </div>
                    
                </div>

                <div class="card">
                    <div class="card-body">

                        <div class="card">
                            <table class="datatable-init table">
                                <thead class="table-light">
                                    <tr>
                                        <th class="tb-col">STT</th>
                                        <th class="tb-col">Mã hàng</th>
                                        <th class="tb-col">Tên hàng</th>
                                        <th class="tb-col">Số lượng</th>
                                        <th class="tb-col">Đơn vị</th>
                                        <th class="tb-col">Loại hàng</th>
                                    </tr>
                                </thead>
    
                                <tbody>
    
                                    <tr>
                                        <td>1</td>
                                        <td>0001</td>
                                        <td class="productimgname">
                                            <a href="javascript:void(0);" class="product-img">
                                                <img src="/public/img/product/product1.jpg" alt="product">
                                            </a>
                                            <a href="javascript:void(0);">Áo tay dài</a>
                                        </td>
                                        <td>24</td>
                                        <td>Cái</td>
                                        <td>Áo</td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>0002</td>
                                        <td class="productimgname">
                                            <a href="javascript:void(0);" class="product-img">
                                                <img src="/public/img/product/product2.jpg" alt="product">
                                            </a>
                                            <a href="javascript:void(0);">Áo thun đỏ</a>
                                        </td>
                                        <td>18</td>
                                        <td>Cái</td>
                                        <td>Áo</td>
                                    </tr>
    
                                </tbody>
    
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</body>