<body>
    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Danh Sách Xuất Kho</h4>
                        <h6>Danh sách xuất kho</h6>
                    </div>
                    <div class="page-btn">
                        <a href="addproduct.html" class="btn btn-added"><img src="/public/img/icons/plus.svg" alt="img"
                                class="me-1">Xuất kho</a>
                    </div>
                </div>

                <div class="card">
                    <table class="datatable-init table">

                        <thead class="table-light">

                            <tr>
                                <th class="tb-col">STT</th>
                                <th class="tb-col">Mã phiếu</th>
                                <th class="tb-col">Người xuất</th>
                                <th class="tb-col">Ngày xuất</th>
                                <th class="tb-col">Hành động</th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td>1</td>
                                <td>PN0001</td>
                                <td>Admin</td>
                                <td>06/11/2023</td>
                                <td>
                                    <a class="me-3" href="stockdelivering-details.html">
                                        <img src="/public/img/icons/eye.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>PN0002</td>
                                <td>Admin</td>
                                <td>07/11/2023</td>
                                <td>
                                    <a class="me-3" href="stockdelivering-details.html">
                                        <img src="/public/img/icons/eye.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>PN0003</td>
                                <td>Admin</td>
                                <td>08/11/2023</td>
                                <td>
                                    <a class="me-3" href="stockdelivering-details.html">
                                        <img src="/public/img/icons/eye.svg" alt="img">
                                    </a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>

    </div>

</body>