<body>

    <div class="main-wrapper">

        <div class="page-wrapper">
            <div class="content">

                <div class="page-header">
                    <div class="page-title">
                        <h4>Supplier Report</h4>
                        <h6>Manage your Supplier Report</h6>
                    </div>
                </div>

                <div class="card">
                    <table class="datatable-init table">

                        <thead class="table-light">
                            <tr>
                                <th class="tb-col">Mã hàng</th>
                                <th class="tb-col">Tên hàng</th>
                                <th class="tb-col">Giá</th>
                                <th class="tb-col">Đơn vị</th>
                                <th class="tb-col">Loại hàng</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product1.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Macbook pro</a>
                                </td>
                                <td>38698.00</td>
                                <td>1248</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product2.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Orange</a>
                                </td>
                                <td>36080.00</td>
                                <td>110</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product3.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Pineapple</a>
                                </td>
                                <td>21000.00</td>
                                <td>106</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product4.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Strawberry</a>
                                </td>
                                <td>11000.00</td>
                                <td>105</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product5.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Sunglasses</a>
                                </td>
                                <td>10100.00</td>
                                <td>100</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product6.jpg" alt="product">
                                    </a>
                                </td>
                                <td>1210.00</td>
                                <td>105</td>
                                <td>0.00</td>
                            </tr>
                            <tr>
                                <td>07/12/2021 06:58:25</td>
                                <td class="productimgname">
                                    <a class="product-img">
                                        <img src="/public/img/product/product7.jpg" alt="product">
                                    </a>
                                    <a href="javascript:void(0);">Avocat</a>
                                </td>
                                <td>4500.00</td>
                                <td>41</td>
                                <td>0.00</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>

</body>